<!DOCTYPE html>
<html>

<head>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


  <style>
    /*---------------------------------------
   Social section
-----------------------------------------*/
    .footer {
      padding: 0px 0px 0px 0px;
      background-color: blue;
      margin: 0px;
      width:100%;
      height:100%;
    }



    p {
      text-align: center;

    }
  </style>
</head>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div style="color:#ffffff;"  class="wow fadeInUp footer ">
          <p>Made in India <br>
            Copyright &copy; 2024 Utkarsh, Aman, Harshit, Neeraj </p>
        </div>
      </div>
    </div>
  </div>
</footer>

</html>
